<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


  
 
</head>
<body>
  


<section class="">
  <div class="container d-flex justify-content-center">
    <div class="row w-75 mt-5">
      <div class="col-md-12">
        <h2 class="text-center">Add Product</h2>
        <form
          action="/admin/add-product"
          method="post"
          enctype="multipart/form-data"
        >

          <label for="">Gender</label>
          <select class="form-select" name="gender" id="gender">
            <option></option>
            <option value="Men">Men</option>
            <option value="Women">Women</option>
            <option value="Kids">Kids</option>
            
          </select>

          <label for="">Category</label>
          <select class="form-select" name="category" id="category">
            <option ></option>
            <option value="Topwear"  >Topwear</option>
            <option value="Bottomwear">Bottomwear</option>
            <option value="Footwear">Footwear</option>
            
          </select>

          <label for="">sub-category</label> 
          <select class="form-select" name="subcategory" id="subcategory">
          
          </select>

          <label for="">Prodcut Name</label>
          <input type="text" name="name" class="form-control" />
          <label for="">Description</label>
          <input type="text" name="description" class="form-control" />

          <label for="">Price</label>
          <input type="text" name="price" class="form-control" />

          <label for="">discount Price</label>
          <input type="text" name="discountPrice" class="form-control" />

          <label for="">quantity</label>
          <input type="text" name="quantity" class="form-control" />

          <label for="">size</label>
          <input type="text" name="size" class="form-control" /> 

          <label for="">color</label>
          <input type="text" name="color" class="form-control" />

          

          <label for="">Brand</label>
          <input type="text" name="brand" class="form-control" />
          
          <img src="" alt="" style="width:100px;height:auto" id="imageEdit1" class="mt-3 mb-3">
          <label for="">Image</label>
          <input type="file" name="Image" class="form-control" onchange="changeImage1(event)"/>
          
          <img src="" alt="" style="width:100px;height:auto" id="imageEdit2" class="mt-3 mb-3">
          <label for="">Image</label>
          <input type="file" name="Image" class="form-control" onchange="changeImage2(event)"/>

          <img src="" alt="" style="width:100px;height:auto" id="imageEdit3" class="mt-3 mb-3">
          <label for="">Image</label>
          <input type="file" name="Image" class="form-control" onchange="changeImage3(event)"/>

          <img src="" alt="" style="width:100px;height:auto" id="imageEdit4" class="mt-3 mb-3">
          <label for="">Image</label>
          <input type="file" name="Image" class="form-control" onchange="changeImage4(event)"/>

          <button type="submit" class="btn btn-success mt-4 mb-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function changeImage1(events)
  {
    document.getElementById('imageEdit1').src = URL.createObjectURL(events.target.files[0])
  }

  function changeImage2(events)
  {
    document.getElementById('imageEdit2').src = URL.createObjectURL(events.target.files[0])
  }

  function changeImage3(events)
  {
    document.getElementById('imageEdit3').src = URL.createObjectURL(events.target.files[0])
  }

  function changeImage4(events)
  {
    document.getElementById('imageEdit4').src = URL.createObjectURL(events.target.files[0])
  }
</script>

  <script src="/admin-assets/js/ajaxgetsubcat.js"></script>


</body>
</html>