<script src="/assets/js/loginFormValidation.js"></script>
<section>
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Pages <span></span> Login / Register
      </div>
    </div>
  </div>
  <main class="main">
    <section class="p-auto my-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 m-auto">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6">
                <div
                  class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5"
                >
                  <div class="padding_eight_all bg-white">
                    <div class="heading_s1">
                      <h3 class="mb-30">Login</h3>
                    </div>
                    <%if (locals.userBlockStatus){%>
                      <p style="color: red;">You are blocked by admin </p>
                      <%}%>

                      <%if(locals.wrongPassword){%>
                        <p style="color: red;">Invalid Credentials </p>
                        <%}%>
                      

                  
                      
 




                    <form action="/login" method="post">
                      <div class="form-group">
                        <input
                          type=""
                          required=""
                          name="email"
                          id="email1"
                          placeholder="Your Email/Mobile Number"
                          onkeyup="validateEmail()"
                        />
                        <span class="text-danger" id="email-error"></span>
                      </div>
                      <div class="form-group">
                        <input
                          required=""
                          type="password"
                          name="password"
                          placeholder="Password"
                          id="password1"
                          onkeyup="validatePassword()"
                        />
                        <span class="text-danger" id="password-error"></span>
                      </div>
                      <div class="login_footer form-group">
                        <div class="chek-form">
                          <div class="custome-checkbox">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              name="checkbox"
                              id="exampleCheckbox1"
                              value=""
                            />
                            <label
                              class="form-check-label"
                              for="exampleCheckbox1"
                              ><span>Remember me</span></label
                            >
                          </div>
                        </div>
                        <a class="text-muted" href="#">Forgot password?</a>
                      </div>
                      <div class="form-group">
                        <button
                          type="submit"
                          class="btn btn-fill-out btn-block hover-up"
                          name="login"
                          style="width: 100%"
                          onclick="validateForm()"
                          id="submit"
                        >
                          Log in
                        </button>
                        <span class="text-danger" id="submit-error"></span>
                      </div>
                      <div>
                        <span class="text-success" id="success"></span>
                        <p class="mb-3 text-center text-success">OR</p>
                      </div>
                      <div class="form-group">
                        <!-- <button
                          type="submit"
                          class="btn btn-fill-out btn-block hover-up"
                          name="login"
                          style="width: 100%"
                        >
                          Request OTP
                        </button> -->
                        <a href="/otp" class="btn btn-warning w-100">Request OTP</a>
                      </div>
                      <div>
                        <a class="ms-5" href="/signup"
                          >New ? Create An Account</a
                        >
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
  
</section>
