<script src="/assets/js/signUpvalidation.js"></script>

<section class="mx-auto">
  <main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="/" rel="nofollow">Home</a>
          <span></span> Pages <span></span> Signup / Register
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row my-5">
      <div class="col-lg-10 m-auto">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div
              class="login_wrap widget-taber-content p-30 background-white border-radius-5"
            >
              <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                  <h3 class="mb-30">Create an Account</h3>
                </div>
                
                  <% if(emailStatus == false){%>
                    <p style="color: red;" id="signup-error">account exist with same email-id or phonenumber. Try another</p>
                  <%} %>
                  
                <form  action="/signup" method="post">

                  <div class="form-row d-flex">

                    <div class="form-group col-md-6">
                  
                      <input
                        type="text"
                        required=""
                        name="fname"
                        id="formName"
                        placeholder="firstname"
                        onkeyup="validateFname()"
                        />
                        <span class="text-danger" id="name-error"></span>
                      
                        
                    </div>
  
                    <div class="form-group col-md-6" style="margin-left: 1em;width: 22em;">
                    
                      <input
                        type="text"
                        required=""
                        name="lname"
                        id="lname"
                        placeholder="lastname"
                        onkeyup="validateLname()"
                        />
                        <span class="text-danger" id="lname-error"></span>
                      
                        
                    </div>

                  </div>

                  

                  <div class="form-group">
                    <input
                      type="text"
                      required=""
                      name="email"
                      placeholder="Email"
                      id="email1"
                      onkeyup="validateEmail()"
                      />
                      <span class="text-danger" id="email-error"></span>
                  </div>
                  <div class="form-group">
                    <input
                      type="number"
                      required=""
                      name="phonenumber"
                      id="formMobile"
                      placeholder="Phone Number"
                      onkeyup="validateMobile()"
                      />
                      <span class="text-danger" id="mobile-error"></span>
                  </div>
                  <div class="form-group">
                    <input
                      required=""
                      type="password"
                      name="password"
                      id="password1"
                      placeholder="Password"
                      onkeyup="validatePassword()"
                      />
                      <span class="text-danger" id="password-error"></span>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      name="refferalCode"
                      placeholder="refferal code (optional)" style="width: min-content;"
                    />
                  </div>
                  <div class="login_footer form-group">
                    <div class="chek-form">
                      <div class="custome-checkbox">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          
                          id="exampleCheckbox12"
                          value=""
                        />
                        <label class="form-check-label" for="exampleCheckbox12"
                          ><span>I agree to terms &amp; Policy.</span></label
                        >
                      </div>
                    </div>
                    <a href="page-privacy-policy.html"
                      ><i class="fi-rs-book-alt mr-5 text-muted"></i>Lean
                      more</a
                    >
                      
                  </div>
                  <div class="form-group d-flex justify-content-center">
                    <button
                      type="submit"
                      class="btn btn-fill-out btn-block hover-up"
                      onclick="validateForm()"
                          id="submit"
                    >
                      Submit &amp; Register
                    </button>
                    <span class="text-danger" id="submit-error"></span>
                  </div>
                </form>
                <div class="divider-text-center mt-15 mb-15">
                  <span class="text-success" id="success"></span>
                  <span> or</span>
                </div>
                
                <div class="text-muted text-center">
                  Already have an account ? <a href="/login"> Sign in now</a >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</main>
